
html,body{
    height: 100%;
    width: 100%;  
}

.weatherSec{
 padding: 6em 0em 1em 0em;
}


#boxMap{
    height: 40%;
    width: 100%;
}
#map{
    height: 100%;
}/*
.top-ods{
    padding-top: 50px;
}*/

.climacon {
    display: inline-block;
    font-family: 'Climacons-Font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.weather-desc {
    text-align: center;
    width: 100%;
  }
  .weather-desc > span {
    display: inline-block;
    padding: 5px 10px;
    background: rgba(234, 234, 234, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
  }
.weather-params > li .climacon {
    display: block;
    font-size: 50px;
    float: left;
    margin-right: 10px;
    line-height: 37px;
    height: 37px;
    width: 37px;
    text-align: center;
}

.temperature {
    font-size: 145px;
    line-height: 200px;
    position: relative;
    font-weight: 100;
    
  }

  .min-height{
      min-height: 353px;
  }
 .size{
     width: 40%;
 }
 .ods{
     margin-left:10%;
     margin-right: 20%;
     margin-top: 2em;
 }

 
/*----contact----*/
.contact{
	padding: 3em 0 6em;
}
.contact-map{
	
}
.contact-map p,.contact-form p{
	font-size: 1.2em;
	color: #5A5A5A;
	margin: 0.5em 0 1em;
	font-weight: 400;
	display: block;
}
.contact-map iframe{
	width:100%;
	min-height:350px;
	border:8px solid #FFF;
	box-shadow:0px 0px 2px #999;
	-webkit-box-shadow:0px 0px 2px #999;
	-moz-box-shadow:0px 0px 2px #999;
	-o-box-shadow:0px 0px 2px #999;
	-ms-box-shadow:0px 0px 2px #999;
}
.contact-form textarea{
	width: 100%;
	min-height: 254px;
	resize: none;
	outline: none;
	background: #F2F2F2;
	padding: 0.8em;
	font-family: 'Playball', cursive;
	font-size: 1.3em;
	color: #666;
	border: 1px solid #DADADA;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.contact-form input[type="text"]{
	width: 65%;
	background: #F2F2F2;
	padding: 0.8em;
	font-family: 'Playball', cursive;
	font-size: 1.3em;
	color: #666;
	border: 1px solid #DADADA;
	outline:none;
	margin-right:5%;
	margin-top:5%;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.contact-form input[type="text"]:hover,.contact-form textarea:hover{
	border-color:#6995A9;
}
.contact-form input[type="submit"]{
	background: url(../images/upload.png) no-repeat 28px 17px #6995A9;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.93em 1em;
	margin-top: 0.5em;
	border: none;
	width: 29.3%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	font-size: 1.2em;
	letter-spacing: 0.05em;
}
.contact-form input[type="submit"]:hover{
	background: url(../images/upload.png) no-repeat 28px 17px #303030;
}
/*--contact head----*/
.head-one{
	padding:5em 0 2em;
}
.head-one h2{
	color:#303030;
	font-weight:800;
	font-size:1.8em;
	text-transform:uppercase;
	margin:0.2em 0;
}
.head-one span{
	height:3px;
	background:#303030;
	display:inline-block;
	width:20%;
	margin:0;
	padding:0;
}
.head-one p{
	margin: 0.4em auto;
	font-size: 1em;
	color: #5A5A5A;
	letter-spacing: 0.015em;
	width: 61%;
	line-height: 1.5em;
}
/*----footer----*/
.footer{
	background: rgba(70, 70, 70, 0.562);
	padding:1.5em 1em;
}
.footer p{
	margin:0;
	padding:0;
	color:#ebebeb;
	font-size:1em;
}
.footer-left{
	float:left;
}
.footer-right{
	float:right;
}
.footer p span,.footer p a{
	color:#949494;
}
.footer p a:hover{
	text-decoration:none;
	color:#6995A9;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  float:left;

}